<div class="card">  
    <h5 class="card-header text-uppercase">Editar categoria</h5>
    <div class="card-body">
        <form action="/admin/categories/edit" method="POST">
            <input type="hidden" name="id" value="{{category._id}}">
            <label for="name">Nome: </label>
                <input value="{{category.name}}" type="text" id="name" name="name" class="form-control">
            <label for="slug">Slug: </label>
                <input onkeydown="Mask.apply(event)" value="{{category.slug}}" type="text" id="slug" name="slug" class="form-control">
            <button type="submit" class="btn btn-success mt-4">Editar Categoria</button>
        </form>
    </div>
</div>


