

<div class="jumbotron shadow p-10 mb-5 rounded">
  <h1 class="display-4">Painel do admin</h1>
  <pclass="lead">Bem vindo {{user.name}}</p>
  <p class="lead">
      Essa painel é de uso exclusivo para adiministradores onde e possível administrar todas as funcionalidades do blog
  </p>
  <hr class="my-4">
  <p>Criar posts, gerenciar usuarios, criar categorias e etc...</p>
  
  <a href="/admin/categories" ><button class="btn btn-dark" href="javascript">Categorias</button></a>
  <a href="#"  ><button class="btn btn-dark" href="javascript">Usuarios</button></a>
  <a href="/admin/posts/" ><button class="btn btn-dark" href="javascript">Posts</button></a>

</div>


<div class="jumbotron p-5 mb-5 bg-white rounded">


</div>




