
<div class="shadow p-3 mb-5 bg-white rounded card mt-4">
    <div class="card-body">
      <h2 class="">{{post.title}}</h2>
      <p>{{post.content}}</p>
      <small class="d-block p-0 "><strong>Catetegoria:</strong> {{post.category.name}}</small>
      <small class="d-block p-0 "><strong>Data de criação:</strong> {{date}}</small>
    </div>
  <div class="card-body">
  </div>
</div>
