<div class="contaienr">
    <h4>Login de usuário</h4>   
    <div class="card p-3">
        <form action="/user/login" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input required="true" {{#if values}} value="{{values.email}}" {{/if}} type="email" class="form-control" id="email" name="email" aria-describedby="email">
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input required="true" type="password" class="form-control" id="password" name="password">
                <small class="orm-text text-muted">Nunca compartilhe sua senha</small>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-dark">Logar</button>
            </div>
        </form>
    </div>
</div>

